<!DOCTYPE html>
<html>
<head>
  <title>Visualizer</title>
  <link href="/styles/main.css" rel="stylesheet" type="text/css" />
  <link href="/styles/vector.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="container">
    <div id="header">Transformer Visualizer</div>
    <div id="input">
      <form action="/submit" method="post">
        <input type="text" name="text" placeholder="Enter your text here" required minlength="3" />
        <button type="submit"> Enter </button>
      </form>
    </div>
    <div class="field">
      <div class="group-banner">Word embedding [6x700]</div>
      <div class="group-content">
        <%segments.forEach(item=>{%>
        <div class="input-row">
          <div class="input-row-item">
            <span class="segments" style="<%=item[1]%>">
              <%= item[0] %>
            </span>
          </div>
          <div class="input-row-item">
            <%- include('./components/vector') %>
          </div>
        </div>

        <%});%>
      </div>
    </div>
    <div class="field">
      <div class="group-banner">Positional embedding [6x700]</div>
      <div class="group-content">
        <%segments.forEach(item=>{%>
        <div class="input-row">
          <div class="input-row-item">
            <span class="segments" style="<%=item[1]%>">
              <%= item[0] %>
            </span>
          </div>
          <div class="input-row-item">
            <%- include('./components/vector') %>
          </div>
        </div>

        <%});%>
      </div>
    </div>
    <div class="field">
      <div class="group-banner">Final embedding [6x700]
        <div>= word + positional embedding</div>
      </div>

      <div class="group-content">
        <%segments.forEach(item=>{%>
        <div class="input-row">
          <div class="input-row-item">
            <span class="segments" style="<%=item[1]%>">
              <%= item[0] %>
            </span>
          </div>
          <div class="input-row-item">
            <%- include('./components/vector') %>
          </div>
        </div>

        <%});%>
      </div>
    </div>
    <div class="field">
      <div class="group-banner">Attention scores</div>
      <div>
        <table>
          <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
          </tr>
          <tr>
            <td>a</th>
            <td>b</th>
            <td>c</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>